.hidden {
display: none;
}

#endGame {
display: flex;
justify-content: space-between;
padding: 20px;
margin-top: 20px;
background-color: #f8f8f8;
width: 50px;
}

.form-container {
width: 100%;
max-width: 400px;
margin: 0 auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 8px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
box-sizing: border-box;
}

.form-container h2 {
text-align: center;
}

.form-container input {
width: calc(100% - 20px);
padding: 10px;
margin-top: 10px;
border: 1px solid #ddd;
border-radius: 4px;
box-sizing: border-box;
}

.form-container button {
width: 100%;
padding: 10px;
background-color: #28a745;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.form-container button:hover {
background-color: #218838;
}

.toggle-link {
text-align: center;
margin-top: 10px;
display: block;
cursor: pointer;
color: #007bff;
}

.selected {
border: 2px solid blue;
opacity: 0.8;
}

#centralDeck {
display: flex;
justify-content: space-between;
padding: 20px;
margin-top: 20px;
background-color: #f8f8f8;
width: 20px;
}

.player-section {
width: 45%;
}

.player-section h4 {
text-align: center;
margin-bottom: 10px;
}

.player-cards {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 8px;
}

.player-cards img {
margin: 0 8px;
cursor: pointer;
width: 50px; /* Adjust as needed */
height: 70px; /* Adjust as needed */
}
